<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Mis menus
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Menus
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Mis menus
						</span>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-6">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Mis menus
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section m-section--last">
						<div class="m-section__content">
							<!--begin::Preview-->
							<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
								<div class="m-demo__preview">
									<ul class="m-nav">

										<li *ngFor="let menu of menus" class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-title">
													<span class="m-nav__link-wrap">
														<span class="m-nav__link-text">
															{{menu.name}}
														</span>
														<span class="m-nav__link-badge">
															<span (click)="removeMenu(menu.$key)" class="m-badge m-badge--danger m-badge--wide m-badge--rounded">
																Eliminar
															</span>
														</span>
													</span>
												</span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>
							<!--end::Preview-->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<!--begin::Portlet-->
		<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Nuevo menu
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--fit m-form--label-align-right" id="menuForm" (ngSubmit)="addMenu()">
					<div class="m-portlet__body">
						<div class="form-group m-form__group m--margin-top-10">
							<div class="alert m-alert m-alert--default" role="alert">
								Crea la categoria y podras empezar a anadir productos en esta.
							</div>
						</div>
						<div class="form-group m-form__group">
							<label for="exampleInputEmail1">
								Menu
							</label>
							<input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre del menu" name="menuName" [(ngModel)]="menu">
							<span class="m-form__help">
								Nombres cortos y descriptivos.
							</span>
						</div>
						
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions">
							<button type="submit" class="btn btn-success">
								Crear
							</button>
							<button type="reset" class="btn btn-secondary">
								Cancelar
							</button>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>
