/* You can add global styles to this file, and also import other style files */
.m-card-user.m-card-user--sm .m-card-user__pic img{
    width: 40px;
    height: 40px;
}
.checkBoxAttention{
    margin-top: 0.65rem;
}
